<a href="https://colab.research.google.com/github/jminango20/DataCleaning/blob/master/handling_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Handling-missing-values

Data cleaning is a key part of data science, but it can be deeply frustrating. 

*   Why are some of your text fields garbled?
*   What should you do about those missing values? 
*   Why arent your dates formatted correctly? 
*   How can you quickly clean up inconsistent data entry? 

We will learn why we have run into these problems and, more importantly, how to fix them.

We will learn how to tackle some of the most common data cleaning problems so we can get to actually analyzing our data faster.

## In this notebook, we will look at how to deal with missing values.

## Take a first look at the data

The first thing we will need to do is load in the libraries and dataset we will be using

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
路路路路路路路路路路
Mounted at /content/drive

In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#read in all our data
nfl_data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DataCleaning/NFL Play by Play 2009-2017 (v4).csv')

#set seed for reproductibily
np.random.seed(0)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (25,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The first thing to do when we get a new dataset is take a look at some of it. In this case, let's see if there are any missing values, which will be represented with `NaN` or `None`.

In [3]:
#look at the first five rows of the nfl_data
nfl_data.head()

         Date      GameID  Drive  qtr  ...       WPA    airWPA    yacWPA  Season
0  2009-09-10  2009091000      1    1  ...  0.060758       NaN       NaN    2009
1  2009-09-10  2009091000      1    1  ...  0.004655 -0.032244  0.036899    2009
2  2009-09-10  2009091000      1    1  ... -0.040295       NaN       NaN    2009
3  2009-09-10  2009091000      1    1  ... -0.049576  0.106663 -0.156239    2009
4  2009-09-10  2009091000      1    1  ...  0.097712       NaN       NaN    2009

[5 rows x 102 columns]

There is some missing values `NaN`

## How many missing data do we have?
Let's see how many we have in each column

In [6]:
#get the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

#look at the # of missing points in the first ten columns 
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

That seems like a lot! It might be helpful to see what percentage of the values in our dataset were missing to give us a better sense of the scale of this problem:

In [12]:
missing_values_count.sum()

10342875

In [19]:
# How many total missing values do we have?
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percentage = (total_missing/total_cells)*100
print("Percentage of missing values is %f" % percentage)

Percentage of missing values is 24.872141

Almost a quarter of the cells in this dataset are empty. In the next step, we're going to take a closer look at some of the columns with missing values and try to figure out what might be going on with them.

## Figure out why the data is missing

This is the point at which we get into the part of data science that it is "data intution", by which means "really looking at your data and trying to figure out why it is the way it is and how that will affect your analysis". For dealing with missing values, we will need to use our intution to figure out why the value is missing. One of the most important questions we can ask ourself to help figure this out is this:

**Is this value missing because it wasn't recorded or because it doesn't exist?**

If a value is missing becuase it doesn't exist (like the height of the oldest child of someone who doesn't have any children) then it doesn't make sense to try and guess what it might be. These values you probably do want to keep as `NaN`. 

On the other hand, if a value is missing because it wasn't recorded, then we can try to guess what it might have been based on the other values in that column and row. This is called imputation

Let's work through an example. Looking at the number of missing values in the nfl_data dataframe.

In [22]:
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

**This is a great place to read over the dataset documentation if we haven't already! If we're working with a dataset that we've gotten from another person, we can also try reaching out to them to get more information.** 

If we're doing very careful data analysis, this is the point at which we'd look at each column individually to figure out the best strategy for filling those missing values. For the rest of this notebook, we'll cover some "quick and dirty" techniques that can help we with missing values but will probably also end up removing some useful information or adding some noise to our data.

## Drop missing values

If we're in a hurry or don't have a reason to figure out why our values are missing, one option we have is to just remove any rows or columns that contain missing values. 

**(Note: I don't generally recommend this approch for important projects! It's usually worth it to take the time to go through your data and really look at all the columns with missing values one-by-one to really get to know our dataset.)**

If we're sure we want to drop rows with missing values, pandas does have a handy function, dropna() to help you do this. Let's try it out on our NFL dataset!

In [24]:
#remove all the rows that contain a missing value
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

It looks like that's removed all our data!  This is because every row in our dataset had at least one missing value. We might have better luck removing all the columns that have at least one missing value instead.

In [26]:
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

         Date      GameID  Drive  ...  ExPoint_Prob  TwoPoint_Prob  Season
0  2009-09-10  2009091000      1  ...           0.0            0.0    2009
1  2009-09-10  2009091000      1  ...           0.0            0.0    2009
2  2009-09-10  2009091000      1  ...           0.0            0.0    2009
3  2009-09-10  2009091000      1  ...           0.0            0.0    2009
4  2009-09-10  2009091000      1  ...           0.0            0.0    2009

[5 rows x 41 columns]

In [30]:
# just how much data did we lose?
print("Columns in original dataset %d\n" % nfl_data.shape[1])
print("Columns with na's dropped %d\n" % columns_with_na_dropped.shape[1])

Columns in original dataset 102

Columns with na's dropped 41

We've lost quite a bit of data, but at this point we have successfully removed all the NaN's from our data.

## Filling in missing values automatically

Another option is to try and fill in the missing values. For this next bit, I'm getting a small sub-section of the NFL data so that it will print well.

In [31]:
# get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head(10)
subset_nfl_data

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474       NaN       NaN  ...       NaN       NaN    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760       NaN       NaN  ...       NaN       NaN    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796       NaN       NaN  ...       NaN       NaN    2009
5 -0.696302       NaN       NaN  ...       NaN       NaN    2009
6 -0.179149 -0.343085  0.163935  ... -0.010456  0.006029    2009
7 -1.119477       NaN       NaN  ...       NaN       NaN    2009
8 -0.021313       NaN       NaN  ...       NaN       NaN    2009
9 -0.215293 -0.756894  0.541602  ... -0.024526  0.018442    2009

[10 rows x 12 columns]

We can use the Panda's `fillna()` function to fill in missing values in a dataframe for us. One option we have is to specify what we want the `NaN` values to be replaced with. Here, I'm saying that I would like to replace all the `NaN` values with 0.

In [32]:
# replace all NA's with 0
subset_nfl_data.fillna(0)

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474  0.000000  0.000000  ...  0.000000  0.000000    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760  0.000000  0.000000  ...  0.000000  0.000000    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796  0.000000  0.000000  ...  0.000000  0.000000    2009
5 -0.696302  0.000000  0.000000  ...  0.000000  0.000000    2009
6 -0.179149 -0.343085  0.163935  ... -0.010456  0.006029    2009
7 -1.119477  0.000000  0.000000  ...  0.000000  0.000000    2009
8 -0.021313  0.000000  0.000000  ...  0.000000  0.000000    2009
9 -0.215293 -0.756894  0.541602  ... -0.024526  0.018442    2009

[10 rows x 12 columns]

I could also be a bit more savvy and replace missing values with whatever value comes directly after it in the same column. (This makes a lot of sense for datasets where the observations have some sort of logical order to them.)

In [34]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_nfl_data.fillna(method='bfill',axis=0).fillna(0)

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474 -1.068169  1.146076  ... -0.032244  0.036899    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760  3.318841 -5.031425  ...  0.106663 -0.156239    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796 -0.343085  0.163935  ... -0.010456  0.006029    2009
5 -0.696302 -0.343085  0.163935  ... -0.010456  0.006029    2009
6 -0.179149 -0.343085  0.163935  ... -0.010456  0.006029    2009
7 -1.119477 -0.756894  0.541602  ... -0.024526  0.018442    2009
8 -0.021313 -0.756894  0.541602  ... -0.024526  0.018442    2009
9 -0.215293 -0.756894  0.541602  ... -0.024526  0.018442    2009

[10 rows x 12 columns]