<a href="https://colab.research.google.com/github/jminango20/DataCleaning/blob/master/Inconsistent_Data_Entry_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Efficiently fix typos in your data

In [2]:
#Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
#Libraries
import pandas as pd
import numpy as np

In [33]:
professores = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DataCleaning/datasets_819513_1402182_pakistan_intellectual_capital.csv')
professores.head()

   Unnamed: 0  ...  Other Information
0           2  ...                NaN
1           4  ...                NaN
2           5  ...                NaN
3           6  ...                NaN
4          24  ...                NaN

[5 rows x 13 columns]

Say we're interested in cleaning up the "Country" column to make sure there's no data entry inconsistencies in it. We could go through and check each row by hand, of course, and hand-correct inconsistencies when we find them. There's a more efficient way to do this, though!

In [34]:
# get all the unique values in the 'Country' column
countries = professores['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
print(countries)

[' Germany' ' New Zealand' ' Sweden' ' USA' 'Australia' 'Austria' 'Canada'
 'China' 'Finland' 'France' 'Greece' 'HongKong' 'Ireland' 'Italy' 'Japan'
 'Macau' 'Malaysia' 'Mauritius' 'Netherland' 'New Zealand' 'Norway'
 'Pakistan' 'Portugal' 'Russian Federation' 'Saudi Arabia' 'Scotland'
 'Singapore' 'South Korea' 'SouthKorea' 'Spain' 'Sweden' 'Thailand'
 'Turkey' 'UK' 'USA' 'USofA' 'Urbana' 'germany']

Just looking at this, I can see some problems due to inconsistent data entry: ' Germany', and 'germany', for example, or ' New Zealand' and 'New Zealand'.

The first thing I'm going to do is make everything lower case (I can change it back at the end if I like) and remove any white spaces at the beginning and end of cells. Inconsistencies in capitalizations and trailing white spaces are very common in text data and you can fix a good 80% of your text data entry inconsistencies by doing this.

In [35]:
# convert to lower case
professores['Country'] = professores['Country'].str.lower()
professores['Country'].unique()

array(['thailand', 'pakistan', 'germany', 'austria', 'australia', 'uk',
       'china', 'france', 'usofa', 'southkorea', 'malaysia', 'sweden',
       'italy', 'canada', 'norway', 'ireland', 'new zealand', 'urbana',
       'portugal', 'russian federation', 'usa', 'finland', ' usa',
       'netherland', ' germany', ' sweden', ' new zealand', 'greece',
       'turkey', 'south korea', 'macau', 'singapore', 'spain', 'japan',
       'hongkong', 'saudi arabia', 'mauritius', 'scotland'], dtype=object)

In [36]:
# remove trailing white spaces
professores['Country'] = professores['Country'].str.strip()
professores['Country'].unique()

array(['thailand', 'pakistan', 'germany', 'austria', 'australia', 'uk',
       'china', 'france', 'usofa', 'southkorea', 'malaysia', 'sweden',
       'italy', 'canada', 'norway', 'ireland', 'new zealand', 'urbana',
       'portugal', 'russian federation', 'usa', 'finland', 'netherland',
       'greece', 'turkey', 'south korea', 'macau', 'singapore', 'spain',
       'japan', 'hongkong', 'saudi arabia', 'mauritius', 'scotland'],
      dtype=object)

## Use fuzzy matching to correct inconsistent data entry

Alright, let's take another look at the 'Country' column and see if there's any more data cleaning we need to do.

In [37]:
# get all the unique values in the 'Country' column
countries = professores['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
print(countries)

['australia' 'austria' 'canada' 'china' 'finland' 'france' 'germany'
 'greece' 'hongkong' 'ireland' 'italy' 'japan' 'macau' 'malaysia'
 'mauritius' 'netherland' 'new zealand' 'norway' 'pakistan' 'portugal'
 'russian federation' 'saudi arabia' 'scotland' 'singapore' 'south korea'
 'southkorea' 'spain' 'sweden' 'thailand' 'turkey' 'uk' 'urbana' 'usa'
 'usofa']

It does look like there is another inconsistency: 'southkorea' and 'south korea' should be the same.

We're going to use the fuzzywuzzy package to help identify which strings are closest to each other.

**Fuzzy matching:** The process of automatically finding text strings that are very similar to the target string. In general, a string is considered "closer" to another one the fewer characters you'd need to change if you were transforming one string into another. So "apple" and "snapple" are two changes away from each other (add "s" and "n") while "in" and "on" and one change away (rplace "i" with "o"). You won't always be able to rely on fuzzy matching 100%, but it will usually end up saving you at least a little time.

**Fuzzywuzzy** returns a ratio given two strings. The closer the ratio is to 100, the smaller the edit distance between the two strings. Here, we're going to get the ten strings from our list of cities that have the closest distance to "d.i khan".

In [38]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.6/dist-packages (0.18.0)

In [39]:
# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

In [40]:
# get the top 10 closest matches to "south korea"
matches = fuzzywuzzy.process.extract(query="south korea",choices=countries,scorer=fuzzywuzzy.fuzz.token_sort_ratio, limit=10)

In [41]:
# take a look at them
print(matches)

[('south korea', 100), ('southkorea', 48), ('saudi arabia', 43), ('norway', 35), ('ireland', 33), ('portugal', 32), ('singapore', 30), ('netherland', 29), ('macau', 25), ('usofa', 25)]

We can see that two of the items in the cities are very close to "south korea": "south korea" and "southkorea". Let's replace all rows in our "Country" column that have a ratio of > 47 with "south korea".

**To do this, I'm going to write a function.**

In [42]:
# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

In [43]:
# use the function we just wrote to replace close matches to "south korea" with "south korea"
replace_matches_in_column(df=professores,column='Country',string_to_match='south korea')

All done!

In [44]:
professores['Country'].unique()

array(['thailand', 'pakistan', 'germany', 'austria', 'australia', 'uk',
       'china', 'france', 'usofa', 'south korea', 'malaysia', 'sweden',
       'italy', 'canada', 'norway', 'ireland', 'new zealand', 'urbana',
       'portugal', 'russian federation', 'usa', 'finland', 'netherland',
       'greece', 'turkey', 'macau', 'singapore', 'spain', 'japan',
       'hongkong', 'saudi arabia', 'mauritius', 'scotland'], dtype=object)

# 1) Examine another column

Write code below to take a look at all the unique values in the "Graduated from" column.

In [45]:
graduated_form = professores['Graduated from'].unique()
print(graduated_form)

['Asian Institute of Technology'
 'Balochistan University of Information Technology, Engineering and Management Sciences'
 'University of Balochistan' "Sardar Bahadur Khan Women's University"
 'SRH Hochschule Heidelberg'
 'Institute of Business Administration,Karachi' 'DUET,Karachi'
 'University of Turbat' 'University of Vienna' 'Monash University'
 'University of Stirling' 'Chinese Academy of Sciences'
 'University of Innsbruck' 'Vienna University of Technology'
 'University of Paris-Est' 'The University of Cambridge'
 'Harbin Institute of Technology' 'University of Nice, Sophia Antipolis'
 'The University of York' 'Galilée - Université Paris 13'
 'University of Bedfordshire' 'North Dakota State University'
 'Kyungpook National University' 'The University of Manchester'
 'National University of Sciences and Technology'
 'FAST– National University of Computer and Emerging Sciences'
 'Capital University of Science & Technology' 'Gomal University'
 'University of Malaya' 'KTH Royal Institute of Technology'
 'University of Technology' 'COMSATS Institute of Information Technology'
 'Government College University' 'Mohammad Ali Jinnah University'
 'Shaheed Zulfikar Ali Bhutto Institute of Science and Technology'
 'Blekinge Institute of Technology' 'University of Grenoble'
 'Politecnico di Torino' '\xa0University of Missouri, KC'
 'University of Bonn' 'University of Paris' 'The University of Leeds'
 '\xa0University of Windsor'
 '\xa0National University of Sciences and Technology-NIIT'
 'University of Trento' 'Stockholm University'
 'University of New South Wales, Sydney' 'Kingston University London'
 'Griffith University' 'University of Salford' 'Loughborough University'
 'International Islamic University,Islamabad'
 'University of Central Missouri' 'Riphah International University'
 'University of BedfordShire' 'University of Illinois'
 'University Of Oslo' 'Nancy 2 University' 'University of Limerick'
 'Ghulam Ishaq Khan Institute of Science and Technology'
 'University Of Waterloo' 'University of Stuttgart'
 'Liverpool John Moores University' 'University Of Caen'
 'Paris Tech University of Eurecom' 'University Of Salford'
 'Lahore University of Management Sciences'
 'Dresden University Of Technology, Dresden\xa0'
 'COMSATS Institute of Information Technology,Vehari'
 'COMSATS Institute of Information Technology,Wah Cantt' 'TU Berlin'
 'FAST– National University of Computer and Emerging Sciences,Islamabad'
 'Tsinghua University' 'The University of Auckland' 'IQRA University'
 'Universiti Teknologi PETRONAS'
 'COMSATS Institute of Information Technology,Islamabad'
 'Razak School of Engineering and Advanced Technology, Universiti Teknologi Malaysia (UTM)'
 'National University of Modern Languages'
 'University of Engineering and Technology'
 'University Institute of Information Technology'
 'University of Arid Agriculture' 'Quaid-i-Azam University'
 'Queen Mary University of London'
 'Pakistan Institute of Engineering and Applied Sciences'
 'Pohang University of Science and Technology' 'Uppsala University'
 'Kyung Hee University' 'University of Liverpool'
 'University of Sunderland' 'Mid Sweden University'
 'Bahria University,Islamabad' 'Chosun University' 'University of Sussex'
 'Paris Descartes University' 'University of Leicester'
 'University of Porto' 'University of Manchester'
 'Université Henri Poincaré, Nancy 1,' 'Bahria University'
 'Centre for Advanced Studies in Engineering'
 'Norwegian University of Science and Technology (NTNU),'
 'The Islamia University of Bahawalpur ' 'Universiti Technologi'
 'California State University' 'University of Genova'
 'University of Engineering and Technology,Taxila'
 'University of\xa0Liverpool John Moores University' 'Guildford'
 'University of Bradford' 'Graz University of Technology'
 'Huazhong University of Science and Technology (HUST), Wuhan'
 'University of Konstanz'
 'National University of Modern Languages,Islamabad'
 'FAST– National University of Computer and Emerging Sciences,Lahore'
 'Gwangju Institute of Science and Technology' 'University of Birmingham'
 'Manchester University' 'Beijing Institute of Technology'
 'University of Paisley'
 'Univ of Porto/Univ of Aveiro Portugal/Uni of Minho'
 'University of Peshawar' 'Universität Salzburg'
 'Colorado State University' 'University of Virginia'
 'University of Orleans' 'Zhejiang University' 'University of Leeds'
 'Foundation University' 'Barani Institute of Information Technology'
 'Abasyn University' 'Pir Mehr Ali Shah Arid Agriculture University'
 'Preston' 'University of Bergen' 'Universtiy of Lahore'
 'HITEC University,Taxila' 'Allama Iqbal Open University'
 'University of Wales,Aberystwyth' '\xa0University of Bonn'
 '\xa0Hongik University'
 'Skolkovo Institute of Science and Technology,\xa0'
 'Agricultural University Peshawar' 'National Textile University'
 'FAST– National University of Computer and Emerging Sciences,Chiniot-Faisalabad'
 'FAST– National University of Computer and Emerging Sciences,Peshawar'
 '\xa0Boston University' 'Brunel University'
 'George Washington University' 'University of the Punjab'
 '\xa0University of Bedfordshire' 'University Of Southern California'
 'Beihang University' 'Institute of Business Administration'
 'Abdus Salam School of Mathematical Sciences,GC University'
 'Linköping University'
 'National College of Business Administration and Economics'
 'Åbo Akademi University,' 'University of Central Punjab'
 'University of Ulm' 'University of Agriculture'
 'University of Notre Dame Indiana\xa0'
 'Punjab University College of Information Technology'
 'Ilmenau University of Technology' ' Iowa State University'
 ' University of Innsbruck' 'Vrije University, Amsterdam'
 ' Columbia University' 'University of Freiburg'
 ' Delft University of Technology'
 ' University of Texas at Arlington (UTA)' ' University of Turin'
 ' University of Central Florida' 'Saarland University'
 'University of Central Florida' 'Oxford Brookes University'
 'Information Technology University (ITU)' 'University of Canterbury'
 'University of Patras' 'Middle East Technical University'
 'University of Bristol' 'University of Southern California'
 'Northeastern University,Boston' 'Purdue University'
 'University of Plymouth' 'University of South Australia'
 'Stanford University' 'Chalmers University of Technology'
 'Massachusetts Institute of Technology' 'Sapienza University of Rome'
 'Eindhoven University of Technology (TU/e)'
 'United Nations University International Institute for Software Technology (UNU-IIST)'
 'Georgetown University,DC' 'RWTH Aachen University' 'Columbia University'
 'Rutgers State University of New Jersey, NJ' 'University of Florida'
 'Technical University of Braunschweig'
 'Carnegie Mellon University, Pittsburgh' 'The Ohio State University'
 'National University of Singapore' 'University of British Columbia'
 'University of Pittsburgh' 'The State University of New Jersey'
 'The University of Texas at Austin'
 'Imperial College, University of London' 'University of Colorado\xa0'
 'University of Bath' 'Tilburg University'
 'Pompeu Fabra University Barcelona'
 'University of Management and Technology'
 'COMSATS Institute of Information Technology,Lahore'
 'University of Agriculture, Faisalabad\xa0'
 'University of Engineering & Technology'
 'University of Agriculture, Faisalabad'
 'Fatima Jinnah Women University, Rawalpindi'
 'Kohat University of Science & Technology, Kohat'
 'Virtual University of Pakistan' 'Bahauddin Zakariya University'
 'University of the Punjab,Gujranwala'
 'Lahore College for Women University' 'Superior University, Lahore'
 'Shaheed Zulfikar Ali Bhutto Institute of Science and Technology,Islamabad'
 'University of South Florida' 'Politecnico di Milano'
 'Abdul Wali Khan University, Mardan' 'University of Lahore'
 'Minhaj University Lahore' 'Lahore Leads University'
 'Middlesex University' 'Beijing Institute of Technology Beijing'
 'Beaconhouse National University' 'Hamdard University' 'University Paris'
 'Sindh University' 'NED University of Engineering And Technology'
 'Staffordshire University' 'DePaul University, Chicago'
 'University of Kent' 'Mehran University of Engineering & Technology'
 'Quaid-e-Awam University of Engineering, Science & Technology'
 'Shah Abdul Latif University, Khairpur' 'Sindh Agriculture University'
 'Swansea' 'University of Shanghai for Science and Technology'
 'Griffith University,Nathan Campus' 'University of Essex'
 'Xiamen university' 'Wayne State University'
 'The Queens University of Belfast' 'Sungkyunkwan University'
 'Nanyang Tech University' "Universite d'Evry Val d'Essonne"
 'Sir Syed University of Engineering and Technology'
 'New York Institute of Technology' 'Fedral Urdu University'
 'ISRA University' 'University of Karachi' 'South Asian University'
 'Capital University of Science and Technology'
 'University of Manchester Institute of Science and Technology'
 'The University of Birmingham'
 'Max Planck Institute for Computer Science' 'George Mason University'
 'University of Southampton' 'Temple University' 'University of Bayreuth'
 'Muroran Institute of Technology,Hokkaido' 'University of Bologna'
 'International Islamic University'
 'PAF-Karachi Institute of Economics and Technology'
 'Institute of Business Administration,Sukkur' 'Myongji University'
 'State University of New York System' 'SSindh Agriculture University'
 'London University' 'Universiti Putra Malaysia Putra'
 'University of Rome Tor Vergata' 'University of Mississippi\xa0'
 'University of Wales' 'University of Northampton'
 'University of Abertay Dundee'
 'Biztek Institute Of Business & Technology,Karachi'
 'University of Surrey' 'Jinnah University for Women'
 '\xa0Nanyang Technological University' 'Tokyo Institute of Technology'
 'NCSU' 'Usman Institute of Technology' 'Hanyang University, Ansan' 'BUKC'
 'Universtiy of Karachi' 'Pace University, New York' 'INSA de Lyon, Rhone'
 'University of Dundee' 'Illinois Institute of Technology'
 'City University of Science and Technology'
 'Usman Institute of Technology (Hamdard University)'
 'University of Malaga' 'Manchester Metropolitan University'
 'Kyushu University,Fukuoka'
 'King Abdullah University of Science and Technology'
 'INRIA Saclay Ile-de-France' 'Université de la Rochelle'
 'University of South Brittany' 'Aston University, Birmingham'
 'University of Agriculture Faisalabad' 'Hamburg University of Technology'
 'Government College University, Faisalabad' 'JKU' 'University of Oviedo'
 'Beijing University of Posts & Telecommunications'
 'Government College University,Faisalabad' 'Nottingham Trent University'
 'University of Glasgow' 'Coventry University'
 'Riphah International University,Faisalabad'
 'Australian National University, Caneberra'
 'Swedish University of Agricultural Sciences, Uppsala'
 'University of Gujrat' 'IQRA University,Islamabad' 'Jonkoping University'
 'Colorado Technical University' 'Cranfield University'
 'Technical University of Graz' 'University of York'
 'Brock University Canada' 'University of Westminster'
 'University of Saarland' 'The University of Queensland'
 'University of Rochester' 'Islamia College University '
 'IBMS KP Agricultural University Peshawar' 'University of Kuala Lumpur'
 'University of Regina' 'TU Wien' 'Swinburne University Of Technology'
 'Institute Of Managment Sciences, Peshawar'
 'Universiti Tun Hussein Onn Malaysia'
 'Institute of Management Sciences, Peshawar' 'University of Huddersfield'
 'University of Engineering and Technology,Peshawar'
 'IQRA University,Karachi' 'John Moorse University, Liverpool'
 'CECOS University of Information Technology and Emerging Sciences,Peshawar'
 'University of the West Scotland' 'Concordia University,Montreal' 'JNU'
 'Grenoble' 'Florida Atlantic University' 'Seoul National University']

# 2) Do some text pre-processing

Convert every entry in the "Graduated from" column in the professors DataFrame to remove white spaces at the beginning and end of cells.

In [46]:
professores['Graduated from'] = professores['Graduated from'].str.strip()

In [26]:
professores['Graduated from'].unique()

array(['Asian Institute of Technology',
       'Balochistan University of Information Technology, Engineering and Management Sciences',
       'University of Balochistan',
       "Sardar Bahadur Khan Women's University",
       'SRH Hochschule Heidelberg',
       'Institute of Business Administration,Karachi', 'DUET,Karachi',
       'University of Turbat', 'University of Vienna',
       'Monash University', 'University of Stirling',
       'Chinese Academy of Sciences', 'University of Innsbruck',
       'Vienna University of Technology', 'University of Paris-Est',
       'The University of Cambridge', 'Harbin Institute of Technology',
       'University of Nice, Sophia Antipolis', 'The University of York',
       'Galilée - Université Paris 13', 'University of Bedfordshire',
       'North Dakota State University', 'Kyungpook National University',
       'The University of Manchester',
       'National University of Sciences and Technology',
       'FAST– National University of Computer and Emerging Sciences',
       'Capital University of Science & Technology', 'Gomal University',
       'University of Malaya', 'KTH Royal Institute of Technology',
       'University of Technology',
       'COMSATS Institute of Information Technology',
       'Government College University', 'Mohammad Ali Jinnah University',
       'Shaheed Zulfikar Ali Bhutto Institute of Science and Technology',
       'Blekinge Institute of Technology', 'University of Grenoble',
       'Politecnico di Torino', 'University of Missouri, KC',
       'University of Bonn', 'University of Paris',
       'The University of Leeds', 'University of Windsor',
       'National University of Sciences and Technology-NIIT',
       'University of Trento', 'Stockholm University',
       'University of New South Wales, Sydney',
       'Kingston University London', 'Griffith University',
       'University of Salford', 'Loughborough University',
       'International Islamic University,Islamabad',
       'University of Central Missouri',
       'Riphah International University', 'University of BedfordShire',
       'University of Illinois', 'University Of Oslo',
       'Nancy 2 University', 'University of Limerick',
       'Ghulam Ishaq Khan Institute of Science and Technology',
       'University Of Waterloo', 'University of Stuttgart',
       'Liverpool John Moores University', 'University Of Caen',
       'Paris Tech University of Eurecom', 'University Of Salford',
       'Lahore University of Management Sciences',
       'Dresden University Of Technology, Dresden',
       'COMSATS Institute of Information Technology,Vehari',
       'COMSATS Institute of Information Technology,Wah Cantt',
       'TU Berlin',
       'FAST– National University of Computer and Emerging Sciences,Islamabad',
       'Tsinghua University', 'The University of Auckland',
       'IQRA University', 'Universiti Teknologi PETRONAS',
       'COMSATS Institute of Information Technology,Islamabad',
       'Razak School of Engineering and Advanced Technology, Universiti Teknologi Malaysia (UTM)',
       'National University of Modern Languages',
       'University of Engineering and Technology',
       'University Institute of Information Technology',
       'University of Arid Agriculture', 'Quaid-i-Azam University',
       'Queen Mary University of London',
       'Pakistan Institute of Engineering and Applied Sciences',
       'Pohang University of Science and Technology',
       'Uppsala University', 'Kyung Hee University',
       'University of Liverpool', 'University of Sunderland',
       'Mid Sweden University', 'Bahria University,Islamabad',
       'Chosun University', 'University of Sussex',
       'Paris Descartes University', 'University of Leicester',
       'University of Porto', 'University of Manchester',
       'Université Henri Poincaré, Nancy 1,', 'Bahria University',
       'Centre for Advanced Studies in Engineering',
       'Norwegian University of Science and Technology (NTNU),',
       'The Islamia University of Bahawalpur', 'Universiti Technologi',
       'California State University', 'University of Genova',
       'University of Engineering and Technology,Taxila',
       'University of\xa0Liverpool John Moores University', 'Guildford',
       'University of Bradford', 'Graz University of Technology',
       'Huazhong University of Science and Technology (HUST), Wuhan',
       'University of Konstanz',
       'National University of Modern Languages,Islamabad',
       'FAST– National University of Computer and Emerging Sciences,Lahore',
       'Gwangju Institute of Science and Technology',
       'University of Birmingham', 'Manchester University',
       'Beijing Institute of Technology', 'University of Paisley',
       'Univ of Porto/Univ of Aveiro Portugal/Uni of Minho',
       'University of Peshawar', 'Universität Salzburg',
       'Colorado State University', 'University of Virginia',
       'University of Orleans', 'Zhejiang University',
       'University of Leeds', 'Foundation University',
       'Barani Institute of Information Technology', 'Abasyn University',
       'Pir Mehr Ali Shah Arid Agriculture University', 'Preston',
       'University of Bergen', 'Universtiy of Lahore',
       'HITEC University,Taxila', 'Allama Iqbal Open University',
       'University of Wales,Aberystwyth', 'Hongik University',
       'Skolkovo Institute of Science and Technology,',
       'Agricultural University Peshawar', 'National Textile University',
       'FAST– National University of Computer and Emerging Sciences,Chiniot-Faisalabad',
       'FAST– National University of Computer and Emerging Sciences,Peshawar',
       'Boston University', 'Brunel University',
       'George Washington University', 'University of the Punjab',
       'University Of Southern California', 'Beihang University',
       'Institute of Business Administration',
       'Abdus Salam School of Mathematical Sciences,GC University',
       'Linköping University',
       'National College of Business Administration and Economics',
       'Åbo Akademi University,', 'University of Central Punjab',
       'University of Ulm', 'University of Agriculture',
       'University of Notre Dame Indiana',
       'Punjab University College of Information Technology',
       'Ilmenau University of Technology', 'Iowa State University',
       'Vrije University, Amsterdam', 'Columbia University',
       'University of Freiburg', 'Delft University of Technology',
       'University of Texas at Arlington (UTA)', 'University of Turin',
       'University of Central Florida', 'Saarland University',
       'Oxford Brookes University',
       'Information Technology University (ITU)',
       'University of Canterbury', 'University of Patras',
       'Middle East Technical University', 'University of Bristol',
       'University of Southern California',
       'Northeastern University,Boston', 'Purdue University',
       'University of Plymouth', 'University of South Australia',
       'Stanford University', 'Chalmers University of Technology',
       'Massachusetts Institute of Technology',
       'Sapienza University of Rome',
       'Eindhoven University of Technology (TU/e)',
       'United Nations University International Institute for Software Technology (UNU-IIST)',
       'Georgetown University,DC', 'RWTH Aachen University',
       'Rutgers State University of New Jersey, NJ',
       'University of Florida', 'Technical University of Braunschweig',
       'Carnegie Mellon University, Pittsburgh',
       'The Ohio State University', 'National University of Singapore',
       'University of British Columbia', 'University of Pittsburgh',
       'The State University of New Jersey',
       'The University of Texas at Austin',
       'Imperial College, University of London', 'University of Colorado',
       'University of Bath', 'Tilburg University',
       'Pompeu Fabra University Barcelona',
       'University of Management and Technology',
       'COMSATS Institute of Information Technology,Lahore',
       'University of Agriculture, Faisalabad',
       'University of Engineering & Technology',
       'Fatima Jinnah Women University, Rawalpindi',
       'Kohat University of Science & Technology, Kohat',
       'Virtual University of Pakistan', 'Bahauddin Zakariya University',
       'University of the Punjab,Gujranwala',
       'Lahore College for Women University',
       'Superior University, Lahore',
       'Shaheed Zulfikar Ali Bhutto Institute of Science and Technology,Islamabad',
       'University of South Florida', 'Politecnico di Milano',
       'Abdul Wali Khan University, Mardan', 'University of Lahore',
       'Minhaj University Lahore', 'Lahore Leads University',
       'Middlesex University', 'Beijing Institute of Technology Beijing',
       'Beaconhouse National University', 'Hamdard University',
       'University Paris', 'Sindh University',
       'NED University of Engineering And Technology',
       'Staffordshire University', 'DePaul University, Chicago',
       'University of Kent',
       'Mehran University of Engineering & Technology',
       'Quaid-e-Awam University of Engineering, Science & Technology',
       'Shah Abdul Latif University, Khairpur',
       'Sindh Agriculture University', 'Swansea',
       'University of Shanghai for Science and Technology',
       'Griffith University,Nathan Campus', 'University of Essex',
       'Xiamen university', 'Wayne State University',
       'The Queens University of Belfast', 'Sungkyunkwan University',
       'Nanyang Tech University', "Universite d'Evry Val d'Essonne",
       'Sir Syed University of Engineering and Technology',
       'New York Institute of Technology', 'Fedral Urdu University',
       'ISRA University', 'University of Karachi',
       'South Asian University',
       'Capital University of Science and Technology',
       'University of Manchester Institute of Science and Technology',
       'The University of Birmingham',
       'Max Planck Institute for Computer Science',
       'George Mason University', 'University of Southampton',
       'Temple University', 'University of Bayreuth',
       'Muroran Institute of Technology,Hokkaido',
       'University of Bologna', 'International Islamic University',
       'PAF-Karachi Institute of Economics and Technology',
       'Institute of Business Administration,Sukkur',
       'Myongji University', 'State University of New York System',
       'SSindh Agriculture University', 'London University',
       'Universiti Putra Malaysia Putra',
       'University of Rome Tor Vergata', 'University of Mississippi',
       'University of Wales', 'University of Northampton',
       'University of Abertay Dundee',
       'Biztek Institute Of Business & Technology,Karachi',
       'University of Surrey', 'Jinnah University for Women',
       'Nanyang Technological University',
       'Tokyo Institute of Technology', 'NCSU',
       'Usman Institute of Technology', 'Hanyang University, Ansan',
       'BUKC', 'Universtiy of Karachi', 'Pace University, New York',
       'INSA de Lyon, Rhone', 'University of Dundee',
       'Illinois Institute of Technology',
       'City University of Science and Technology',
       'Usman Institute of Technology (Hamdard University)',
       'University of Malaga', 'Manchester Metropolitan University',
       'Kyushu University,Fukuoka',
       'King Abdullah University of Science and Technology',
       'INRIA Saclay Ile-de-France', 'Université de la Rochelle',
       'University of South Brittany', 'Aston University, Birmingham',
       'University of Agriculture Faisalabad',
       'Hamburg University of Technology',
       'Government College University, Faisalabad', 'JKU',
       'University of Oviedo',
       'Beijing University of Posts & Telecommunications',
       'Government College University,Faisalabad',
       'Nottingham Trent University', 'University of Glasgow',
       'Coventry University',
       'Riphah International University,Faisalabad',
       'Australian National University, Caneberra',
       'Swedish University of Agricultural Sciences, Uppsala',
       'University of Gujrat', 'IQRA University,Islamabad',
       'Jonkoping University', 'Colorado Technical University',
       'Cranfield University', 'Technical University of Graz',
       'University of York', 'Brock University Canada',
       'University of Westminster', 'University of Saarland',
       'The University of Queensland', 'University of Rochester',
       'Islamia College University',
       'IBMS KP Agricultural University Peshawar',
       'University of Kuala Lumpur', 'University of Regina', 'TU Wien',
       'Swinburne University Of Technology',
       'Institute Of Managment Sciences, Peshawar',
       'Universiti Tun Hussein Onn Malaysia',
       'Institute of Management Sciences, Peshawar',
       'University of Huddersfield',
       'University of Engineering and Technology,Peshawar',
       'IQRA University,Karachi', 'John Moorse University, Liverpool',
       'CECOS University of Information Technology and Emerging Sciences,Peshawar',
       'University of the West Scotland', 'Concordia University,Montreal',
       'JNU', 'Grenoble', 'Florida Atlantic University',
       'Seoul National University'], dtype=object)

## 3) Continue working with countries

In the tutorial, we focused on cleaning up inconsistencies in the "Country" column. Run the code cell below to view the list of unique values that we ended with.

In [47]:
# get all the unique values in the 'City' column
countries = professores['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea', 'spain',
       'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa', 'usofa'],
      dtype=object)

Take another look at the "Country" column and see if there's any more data cleaning we need to do.

It looks like 'usa' and 'usofa' should be the same country. Correct the "Country" column in the dataframe so that 'usofa' appears instead as 'usa'.

Use the most recent version of the DataFrame (with the whitespaces at the beginning and end of cells removed) from question 2.

In [48]:
matches = fuzzywuzzy.process.extract("usa", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
print(matches)

[('usa', 100), ('usofa', 75), ('austria', 60), ('australia', 50), ('spain', 50), ('urbana', 44), ('uk', 40), ('malaysia', 36), ('pakistan', 36), ('portugal', 36)]

In [49]:
replace_matches_in_column(df=professores,column='Country',string_to_match='usa',min_ratio=70)

All done!

In [50]:
professores['Country'].unique()

array(['thailand', 'pakistan', 'germany', 'austria', 'australia', 'uk',
       'china', 'france', 'usa', 'south korea', 'malaysia', 'sweden',
       'italy', 'canada', 'norway', 'ireland', 'new zealand', 'urbana',
       'portugal', 'russian federation', 'finland', 'netherland',
       'greece', 'turkey', 'macau', 'singapore', 'spain', 'japan',
       'hongkong', 'saudi arabia', 'mauritius', 'scotland'], dtype=object)